.formSearch {
  display: -webkit-box;
}
.cardDiv {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  max-width: 235px;
  margin: 0.5em;
  min-width: 17em;
  min-height: 7em;
}
mat-form-field {
  width: 12em;
}
.spinner {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
::ng-deep.mat-paginator .mat-paginator-page-size {
  display: none;
}

@media screen and (max-width: 600px) {
  .formSearch {
    display: inline-block;
  }
  mat-form-field {
    width: 11em;
  }
  .card:last-child {
    margin-bottom: 1.5em;
  }
}
