<form #editForm="ngForm" >
  <mat-form-field appearance="outline" >
    <mat-label>Enter your name</mat-label>
    <input type="text" required matInput
           [(ngModel)]="userName" name="name" placeholder="Enter your name"/>
  </mat-form-field>&nbsp;&nbsp;
  <button mat-stroked-button color="primary" [disabled]="!editForm.valid" (click)="findUsers()">Знайти</button>
</form>
<div *ngIf="isFound" class="cardDiv">
  <mat-card *ngFor="let user of usersInfoArray" class="card" (click)="showUserProfile(user.login)">
    <mat-card-header>
      <img mat-card-avatar [src]="user.avatar_url" alt="avatar" style="background-size: cover;">
      <mat-card-title style="margin-bottom: 0!important">{{user.login}}</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <span style="margin-left: 1em;">Локація: {{user.location == null ? 'невідомо' : user.location}}</span><br>
      <span style="margin-left: 1em;">Публічних репозиторіїв: {{user.public_repos}}</span>
    </mat-card-actions>
  </mat-card>
</div>
