<form #editForm="ngForm" class="formSearch">
  <mat-form-field appearance="outline">
    <mat-label>Введіть логін користувача</mat-label>
    <input type="text" matInput [(ngModel)]="userName" name="name" placeholder="Введіть логін користувача"/>
  </mat-form-field>&nbsp;&nbsp;
  <mat-form-field class="form" floatLabel="never" appearance="outline">
    <mat-label>Локація</mat-label>
    <input type="text" placeholder="Локація" matInput [(ngModel)]="locationInput" name="location">
  </mat-form-field>&nbsp;&nbsp;
  <mat-form-field  class="form" floatLabel="never" appearance="outline">
    <mat-label>Мова програмування</mat-label>
    <input type="text" placeholder="Мова програмування" matInput name="language" [(ngModel)]="languageInput">
  </mat-form-field>&nbsp;&nbsp;

  <button mat-raised-button color="primary"
          [disabled]="userName.trim().length == 0 && locationInput.trim().length == 0 &&
           languageInput.trim().length == 0" (click)="findUsers(1); selectedPage = 0;">Знайти</button>

  <mat-paginator *ngIf="isFound && lengthPagination !== 0" style="width: 28em;"
                 [pageSize]="20" [length]="lengthPagination"
                 [pageIndex]="selectedPage"
                 (page)="pageEvent = $event; selectedPage = pageEvent.pageIndex;
                  findUsers(pageEvent.pageIndex + 1)">
  </mat-paginator>
</form>
<div *ngIf="isFound" class="cardDiv">
  <mat-card *ngFor="let user of usersInfoArray" class="card" (click)="showUserProfile(user.login)">
    <mat-card-header>
      <img mat-card-avatar [src]="user.avatar_url" alt="avatar" class="avatarInCard">
      <mat-card-title>{{user.login}}</mat-card-title>
      <mat-card-subtitle style="margin-bottom: 0!important">{{user.name}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <span style="margin-left: 1em;">Локація: {{user.location == null ? 'Невідомо' : user.location}}</span><br>
      <span style="margin-left: 1em;">Публічних репозиторіїв: <span style="font: normal 700 16px serif;">{{user.public_repos}}</span></span>
    </mat-card-actions>
  </mat-card>
</div>

<h1>{{noResults}}</h1>
<mat-spinner class="spinner" *ngIf="isSearching"></mat-spinner>
