<form #editForm="ngForm" >
  <mat-form-field appearance="outline" style="width: 15em" >
    <mat-label>Введіть логін користувача</mat-label>
    <input type="text"  matInput
           [(ngModel)]="userName" name="name" placeholder="Введіть логін користувача"/>
  </mat-form-field>&nbsp;&nbsp;
  <mat-form-field class="form" floatLabel="never" appearance="outline">
    <mat-label>Локація</mat-label>
    <input type="text" placeholder="Локація" matInput [(ngModel)]="locationInput" name="location">
  </mat-form-field>&nbsp;&nbsp;
  <mat-form-field  class="form" floatLabel="never" appearance="outline">
    <mat-label>Мова програмування</mat-label>
    <input type="text" placeholder="Мова програмування" matInput name="language" [(ngModel)]="languageInput">
  </mat-form-field>&nbsp;&nbsp;
  <button mat-stroked-button color="primary" [disabled]="!editForm.valid" (click)="findUsers()">Знайти</button>

</form>
<div *ngIf="isFound" class="cardDiv">
  <mat-card *ngFor="let user of usersInfoArray" class="card" (click)="showUserProfile(user.login)">
    <mat-card-header>
      <img mat-card-avatar [src]="user.avatar_url" alt="avatar" style="background-size: cover;">
      <mat-card-title style="margin-bottom: 0!important">{{user.login}}</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <span style="margin-left: 1em;">Локація: {{user.location == null ? 'невідомо' : user.location}}</span><br>
      <span style="margin-left: 1em;">Публічних репозиторіїв: {{user.public_repos}}</span>
    </mat-card-actions>
  </mat-card>
</div>
