.card {
  max-width: 500px;
  margin: 0.5em;
  min-width: 17em;
  min-height: 7em;
}
.profileInfo {
  font-size: 1em;
  display: inline-block;
  width: 100%;
}
.titleInfo {
  display: inline-block;
  width: 8em!important;
}
